*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ababab;
    line-height: 3em;
    text-align: center;

}

.form, .hidden{
    margin: 50px auto;
    width: 600px;
    background-color: #fff;
    padding: 50px;
}
.hidden {
    display: none;
}